<!DOCTYPE html>
<html>
<head>
  <title>Globber</title>
  <%= stylesheet_link_tag    "globber/application", media: "all" %>
  <%= javascript_include_tag "globber/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
